.container {
  display: inline-block;
  text-align: center;
}

.splitView {
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.splitView.image-position-right{
  flex-direction: row;
}

.splitView.image-position-left{
  flex-direction: row-reverse;
}

.splitView .content {
  padding: 0px 40px;
  flex: 1;
}

.splitView .image {
  flex: 1;
}

.splitView .title {
  font-size: 22px;
  line-height: 24px;
  text-transform: unset;
  font-weight: 500;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Quicksand;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.splitView .splitViewBtn {
  display:block;
  margin-top: 20px; 
}

@media screen and (max-width: 768px) {
  .splitView {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0px;
  }

  .splitView.image-position-right{
    flex-direction: column-reverse;
  }

  .splitView .image {
    margin: 0px -20px;
  }

  .splitView .content {
    padding: 0px;
  }

  .splitView .title {
    text-align: center;
  }

  .splitView .splitViewBtn {
    margin: auto;
    margin-top: 20px; 
  }
}