.offers {
  background-color: white;
}

.offers .content-container {
  text-align: center;
}

.offers .image {
  width: 100%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.offers .offer-title {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #19232d;
  margin-bottom: 20px;
}
.offers .offer-description {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 30px;
  color: #19232d;
  flex: 1;
}

.offers .cta-button {
  background-color: white;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #19232d;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  padding: 10px 15px;
}

.offers .offers-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.offers .offers-flex-element {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.offers .offers-slider .slick-slide {
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .offers .offers-flex {
    display: block;
    height: auto;
  }

  .offers .offers-flex .offers-flex-element {
    display: inline-block;
    margin: 0 20px 20px 0;
  }

  .offers .content-container {
    text-align: left;
  }
  .offers .offer-title,
  .offers .image {
    margin-bottom: 10px;
  }
  .offers .offer-description {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
    white-space: normal;
  }

  .offers .offer-description,
  .offers .offer-title {
    text-align: left;
  }

  .offers .offers-flex-element {
    width: 85%;
  }
}
