.testimonial h1 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}

.testimonial-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 40px;
}

.testimonial-flex .item {
  width: 32%;
}

.testimonial {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #19232d;
}

.testimonial .image {
  width: 140px;
  height: 140px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 70px;
}

.testimonial .testimonial-description {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: white;
  margin: 0px;
  margin-top: 30px;
}

.testimonial .testimonial-author {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  color: white;
  margin-top: 20px;
}

.testimonial .testimonial-author-role {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: white;
}

@media (max-width: 768px) {
  .testimonial-flex {
    margin: 0px;
  }
  .testimonial-flex .item {
    width: 100%;
    padding: 30px;
    display: flex;
  }
  .testimonial .image {
    width: 60px;
    height: 60px;
  }
  .testimonial .description-content {
    width: 80%;
  }
  .testimonial .testimonial-description {
    font-size: 14px;
    margin-top: 0px;
  }
  .testimonial .testimonial-author {
    font-size: 14px;
    margin-top: 10px;
  }
  .testimonial .testimonial-author-role {
    font-size: 14px;
  }
}
