.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.hero-content-left {
  align-items: flex-start;
  text-align: left;
}

.hero-content-center {
  align-items: center;
  text-align: center;
}

.hero-content-right {
  align-items: flex-end;
  text-align: right;
}

.hero .title {
  font-size: 36px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  text-transform: capitalize;
}

.hero .subtitle {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin-top: 0px;
  text-transform: initial;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 545px;
    padding: 0;
    margin: 0;
  }

  .hero .hero-content {
    flex: 1;
  }

  .hero .subtitle {
    margin-top: 24px;
  }

  .hero .hero-cta {
    padding: 10px 15px 10px 15px;
  }

  .hero-inner-container {
    margin: 0 -20px;
  }
}

@media screen and (min-width: 769px) {
  .hero-page-width {
    padding: 0 40px;
  }
}
