.header {
  margin-bottom: 20px;
}

.headline {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.subheadline {
  text-align: center;
  font-size: 16px;
}

.subheadline a:hover {
  text-decoration: underline;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 769px) {
  .header {
    margin-bottom: 60px;
  }
  .headline {
    font-size: 32px;
  }
  .subheadline {
    font-size: 28px;
  }
}
